/*-- Вертикальная полоса на главной сцене --*/
.vline {
    -fx-background-color: -fx-glass;
}
#loginLeftPane{
    -fx-padding: 32px;
}
/*-- Ввод данных --*/
#login,
PasswordField {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-border-color: transparent;
    -fx-font-family: "Gilroy-SemiBold";
    -fx-border-radius: 14px;
    -fx-background-radius: 14px;
    -fx-font-size: 18px;
    -fx-cursor: text;
    -fx-text-fill: rgba(255, 255, 255, 0.50);
}
PasswordField:focused,
#login:focused {
    -fx-background-color: rgba(255, 255, 255, 0.20);
    -fx-text-fill: #fff;
    -fx-border-color: #E2B53A;
    -fx-text-fill: rgba(255, 255, 255, 1);
}
#1st,
#2st,
#3st,
#4st,
#5st,
#6st {
    -fx-background-color: transparent;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 0;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-background-radius: 0;
}
/*-- Чекбоксы --*/
#savePassword,
#autoenter {
    -fx-font-size: 12px;
    -fx-background-image: url('../../images/icons/checkbox_off.png');
    -fx-text-fill: -fx-colors-text;
}
#savePassword:selected,
#autoenter:selected {
    -fx-background-image: url('../../images/icons/checkbox_on.png');
}
/*-- Метод авторизации --*/
#authList {
    -fx-background-color: -fx-glass;
    -fx-background-radius: 10px;
}
/*-- Поля --*/
/*-- Ссылки --*/
#createAccount {
    -fx-font-weight: bold;
    -fx-font-size: 9px;
    -fx-text-align: left;
    -fx-fill: -fx-green;
}
#createAccount:hover,
#createAccount:pressed {
    -fx-fill: -fx-green-hover;
    -fx-cursor: hand;
}
#forgotPass {
    -fx-font-weight: bold;
    -fx-font-size: 9px;
    -fx-text-align: right;
    -fx-fill: -fx-colors-text-secondary;
}
#forgotPass:hover,
#forgotPass:pressed {
    -fx-fill: -fx-colors-text-hover;
    -fx-cursor: hand;
}
.textLogin {
    -fx-fill: -fx-colors-text-secondary;
    -fx-font-size: 9px;
    -fx-text-align: left;
}
Rectangle {
    -fx-fill: -fx-colors-text-secondary;
    -fx-stroke: -fx-colors-text-secondary;
}
/*-- Веб авторизация (НЕ найдено в FXML) --*/
/* #webAuth {
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-align: center;
    -fx-text-fill: -fx-colors-base;
    -fx-background-color: -fx-green;
} */
/*-- Кнопка входа --*/
#authButton {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../../minefite/images/scenes/login/button/auth/auth.png');
}
#authButton:hover {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../../minefite/images/scenes/login/button/auth/auth_hover.png');
    -fx-effect: dropshadow(three-pass-box, rgba(226, 181, 58, 0.35), 25, 0.0, 0, 8);
}

#authButton:pressed {
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('../../minefite/images/scenes/login/button/auth/auth_pressed.png');
    -fx-effect: dropshadow(three-pass-box, rgba(226, 181, 58, 0.25), 25, 0.0, 0, 8);
}

/* --START-- Enum AuthButtonState Button */
.activeButton {
    -fx-background-color: -fx-green;
}
.activeButton:hover {
    -fx-background-color: -fx-green-hover;
}
.unactiveButton {
    -fx-background-color: -fx-colors-unactive;
}
.unactiveButton:hover {
    -fx-background-color: -fx-colors-unactive-hover;
}
.errorButton {
    -fx-background-color: -fx-red;
}
.errorButton:hover {
    -fx-background-color: -fx-red-hover;
}
/* --END-- */

.mf-login-background {
    -fx-background-image: url('../../minefite/images/scenes/login/background.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}
.mf-2fa-background {
    -fx-background-image: url('../../minefite/images/overlays/background.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#twoFAPane {
    -fx-background-image: url('../../minefite/images/scenes/login/2fa.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}

#twoFAField {
    -fx-background-color: transparent;
}

#twoFAField {
    -fx-font-family: "Gilroy-SemiBold";
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 24px;
    -fx-alignment: CENTER;
}