#header-text {
    -fx-font-weight: 800;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-colors-text;
}

#description {
    -fx-fill: -fx-black2C;
    -fx-font-size: 16px;
}
#description.error {
    -fx-text-fill: -fx-red;
}

.mf-processing-background {
    -fx-background-image: url('../../minefite/images/overlays/background.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}