#header-text {
    -fx-font-weight: 800;
    -fx-font-size: 18px;
    -fx-text-fill: -fx-colors-unactive-hover;
}

#description,
.description {
    -fx-fill: -fx-colors-unactive;
    -fx-font-size: 16px;
}

#description.error {
    -fx-text-fill: -fx-red;
}

.mf-processing-background {
    -fx-background-image: url('../../minefite/images/overlays/background.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}