/*-- Приветствие --*/
#header-text {
    -fx-font-family: "Gilroy-Extrabold";
    -fx-font-size: 18px;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-align-items: left;
}

#playerName {
    -fx-font-family: "Gilroy-Bold";
    -fx-font-size: 16px;
    -fx-opacity: 0.5;
    -fx-text-fill: #fff;
    -fx-fill: #fff;
    -fx-align-items: left;
}

.mf-welcome-background {
    -fx-background-image: url('../../minefite/images/overlays/background.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
}