#avatar {
    -fx-background-position: center;
    -fx-background-color: transparent;
    -fx-font-smoothing-type: lcd;
    -fx-border-radius: 20px;
}

#nickname {
    -fx-font-family: "Gilroy-Bold";
    -fx-font-size: 17px;
    -fx-text-fill: #fff;
}

#role {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-text-fill: -fx-colors-text;
}

#welcome_servmenu {
    -fx-font-family: "Gilroy-Medium";
    -fx-font-size: 15px;
    -fx-fill: rgba(255, 255, 255, 0.5);
}